# Ignore default and dependency plugin files...
plugins/hello.php
plugins/index.php
plugins/akismet
plugins/theme-sniffer
plugins/theme-check
plugins/openid-connect-generic-master
plugins/easy-wp-smtp
plugins/tinymce-advanced 

# Ignore default themes files
themes/index.php
themes/twenty*

# Ignore uploads folder
uploads/*
