# Ignore default and dependency plugin files...
plugins/hello.php
plugins/index.php
plugins/akismet
plugins/categories-images
plugins/theme-sniffer
plugins/theme-check
plugins/openid-connect-generic-master 

# Ignore default themes files
themes/index.php
themes/twenty*
