# Ignore default and dependency plugin files...
plugins/hello.php
plugins/index.php
plugins/akismet
plugins/theme-sniffer
plugins/theme-check
plugins/openid-connect-generic-master
plugins/easy-wp-smtp
plugins/tinymce-advanced
plugins/custom-sidebars
plugins/debug-bar
plugins/email-subscribers
plugins/download-manager
plugins/custom-post-widget
plugins/daggerhart-openid-connect-generic


# Ignore default themes files
themes/index.php
themes/twenty*

# Ignore uploads folder
uploads/*


node_modules



plugins/geoplatform-item-details/admin/partials/geoplatform-item-details-recreate.php
plugins/geoplatform-item-details/angular/package-lock.json
plugins/geoplatform-resource-registration/admin/partials/geoplatform-resource-registration-recreate.php
plugins/geoplatform-resource-registration/public/css/fontawesome-webfont.*.*
plugins/geoplatform-resource-registration/public/css/geoplatform-icons-font.*.*
plugins/geoplatform-search/admin/partials/geoplatform-search-recreate.php
plugins/geoplatform-search/includes/geoplatform-search-core.php
plugins/geoplatform-search/public/partials/geoplatform-search-page-header.php
plugins/geoplatform-search/public/partials/geoplatform-search-page-template.php
plugins/geoplatform-search/public/css/geoplatform-icons-font.*.*
themes/geoplatform-ccb/gp_intro.php.bak
themes/geoplatform-ccb/page-templates/geop_search_page.php
themes/geoplatform-portal-four/contact.php.bak
themes/geoplatform-portal-four/header.php.bak
themes/geoplatform-portal-four/main-page.php.bak
themes/geoplatform-portal-four/main-page.php.bak2
themes/geoplatform-portal-four/onboarding.php.bak
themes/geoplatform-portal-four/portfolio-resources-old.php
themes/geoplatform-portal-four/single.php.bak
themes/geoplatform-portal-four/style.css.bak
themes/geoplatform-portal-four/style.css.bak2
themes/geoplatform-portal-four/sub-header-home.php.bak
themes/geoplatform-portal-four/sub-header-post.php.bak
