.widget-banner-main {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  border-top: 0px !important;
  position: relative;
  min-height: 300px;
}

.widget-banner-sub {
  min-height: 300px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.widget-banner-container {
  text-shadow: rgb(0, 0, 0) 0px 0px 5px;
  padding-top: 4em;
  padding-bottom: 2em;
}

.widget-ngda-outer-card {
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-color: #ddd;
  box-shadow: none;
}

.widget-ngda-inner-card {
  margin-top: 1.5em;
  background-image: none;
}

.widget-maps-error-out {
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.header-grey-border {
  border-bottom-color: rgb(221, 221, 221) !important;
}

.menu-border-head {
  border-left-color: rgb(32, 121, 197) !important;
  border-left-style: solid;
}

.menu-border-foot {
  border-right-color: rgb(239, 239, 239) !important;
  border-right-style: solid;
}

@media (min-width: 992px) {
  .community-link-menu-control {
    margin-top: 70px;
  }
}

.widget-featured-fade-zero {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

.widget-featured-fade-five {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.widget-featured-fade-outline {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000000;
}

.widget-featured-topborder {
  border-top: 1px solid #bbb;
}

.featured-flex-parent {
  display: flex;
  flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column-span: 3;
  grid-gap: 0 0;
}

@media (max-width: 767px) {
  .featured-flex-child {
    flex: 0 1 99%;
    margin: 0 0 2em 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .featured-flex-child {
    flex: 0 1 48%;
    margin: 0 3% 2em 0;
  }
  .featured-flex-child:nth-child(2n+2) {
      margin-right: 0;
  }
}

@media (min-width: 992px) {
  .featured-flex-child {
    flex: 0 1 31%;
    margin: 0 3% 2em 0;
  }
  .featured-flex-child:nth-child(3n+3) {
      margin-right: 0;
  }
}

.geop-header-search-min-geop {
  min-width: 18em;
}

.geop-header-search-min-site {
  min-width: 15em;
}

.geop-banner-wysiwyg-yes {
  color: white;
}

.geop-banner-wysiwyg-no {
  color: white;
  text-align: center;
  font-size: 2.5em;
}
