# PHP settings
php_value max_input_vars 3000
php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value max_execution_time 300
php_value max_input_time 1000

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Rewrite all base URLS coming in
  RewriteRule (.*)%%sitename%%\/?(.*) $1/$2 [L]

  RewriteBase /%%sitename%%/
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /%%sitename%%/index.php [L]

</IfModule>
# END WordPress
