// FROM ARTICLE.LESS

article, .m-article {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #f5f5f5;
}
article:last-child, .m-article:last-child {
    margin-bottom: 0;
    /* padding-bottom: 0; */
    border-bottom: none;
}
.article__heading, .m-article__heading {
    font-size:       1.25em;
    font-weight:     700;
    text-transform:  uppercase;
}
.article__heading--front-page,
.m-article__heading--front-page {
    text-align:      center;
    text-transform:  uppercase;
    text-decoration: underline;
    margin-bottom:   1em;
}

.article__heading-2, .m-article__heading-2 {
    font-size: 1.125em;
    font-weight: 700em;
    text-transform: capitalize;
}

.article__desc, .m-article__desc {
    text-align: justify;
}
.article__desc + .article__desc,
.m-article__desc + .m-article__desc {
    padding-top: 1em;
}
article img, .m-article img {
    max-width: 100%;
}
article img.article__icon, .m-article img.article__icon {
    width: 150px;
    max-height: 100px;
}
article img.article__icon.u-left,
.m-article img.article__icon.u-left {
    float:       left;
    margin-right: 2em;
}
article img.article__icon.u-right,
.m-article img.article__icon.u-right {
    float:       right;
    margin-left: 2em;
}
.article__actions,
.m-article__actions {
    padding: 1em 0;
}


//for tabbed content using nav pills inside an article
.m-article .nav-pills {
    padding-bottom: 1em;
    border-bottom: 1px solid @color-gray-xlt;
    margin-bottom: 1em;

}

// FROM BREADCRUMBS.LESS

.m-page-breadcrumbs {
    margin: 0;
    padding: 0.5em 1em;
    background: lighten(@color-gray-xlt,5%);
    border-bottom: 1px solid @color-gray-xlt;
    list-style: none;

    & > li {
        .u-text--sm;
        display: inline-block;
        text-transform: uppercase;
    }

    & > li:not(:last-child):after {
        content: ">";
        padding: 0 0.5em;
        color: @color-gray-md;
    }

    & > li.is-active > a,
    & > li.is-active:hover > a {
        color: @color-gray-md;
        cursor: default;
        text-decoration: none;
    }
}

@media(min-width: 992px) {
    .m-page-breadcrumbs {
        padding: 0.5em 3em;
    }
}



// FROM CARD.LESS


/* ----------------------------------------- *\
    GP UI Card
    New card structure
    REPLACES .card elements

    Standard:
        .gp-ui-card

    Fixed Height:
        .gp-ui-card.gp-ui-card--sm
        .gp-ui-card.gp-ui-card--md
        .gp-ui-card.gp-ui-card--lg
        .gp-ui-card.gp-ui-card--xlg


    Usage:

    <div class="gp-ui-card">
        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>
        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">Lorem ipsum...</div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>
        </div>
    </div>




    with tabbed details


    <div class="gp-ui-card" ng-class="{selected:map.selected}">

        <div class="media">
            <a class="embed-responsive embed-responsive-16by9" href="#" target="_blank" title="Open this item">
                <img class="embed-responsive-item" src="/img/ImageNotAvailable.png" alt="Card Image">
            </a>
        </div>

        <div class="gp-ui-card__body">
            <div class="text--primary">Card Title</div>
            <div class="text--secondary">card sub-title</div>
            <div class="text--supporting">
                <div class="gp-ui-card__details active" id="description">
                    <p>This is a helpful description</p>
                </div>
                <div class="gp-ui-card__details" id="author">
                    <div><strong>Author:</strong> John Doe</div>
                    <div><strong>Created:</strong> Jan 1, 2000</div>
                    <div><strong>Updated:</strong> Jan 1, 2001</div>
                </div>
            </div>
        </div>
        <div class="gp-ui-card__footer">
            <div class="pull-right">
                <a href="#" class="btn btn-link pull-right">Action</a>
            </div>
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab active"
                title="Description of this item" data-target="#description">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button type="button" class="btn btn-sm btn-link gp-ui-card__tab"
                title="Author information" data-target="#author">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
    </div>


\* ----------------------------------------- */

.gp-ui-card {
    position:       relative;
    margin:         0 0 @sz-md;
    overflow:       hidden;
    border:         1px solid @color-gray-lt;
    border-radius:  4px;
    box-shadow:     0 1px 3px rgba(0,0,0,0.25);
    font-size:      @sz-md;
    background:     #fff;
    color:          inherit;
}

.gp-ui-card .media {
    display: block;
    background-color: #efefef;
    border-bottom: 1px solid @color-gray-xlt;

    &[ng-click], &[onclick] { cursor: pointer; }
}

.gp-ui-card__body {
    position: relative;

    //prevent fab from overlapping the title of the card
    &.has-fab .text--primary { margin-right: 3em; }

    //floating action button
    .gp-ui-card__fab {
        position: absolute;
        top:     -1.25em;
        right:     .5em;
        z-index:  1000;

        display:  flex;
        justify-content: center;
        align-items: center;

        &:hover .btn { box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
    }
}

.gp-ui-card__body:first-child { padding-top: @sz-md; }
.gp-ui-card__body:last-child {
    padding-bottom: @sz-md;
    .text--supporting { padding-bottom: 0; }
}


.gp-ui-card .text--primary {
    display:     block;
    font-size:   @text-md;
    padding:     .5em 1em 0.5em;
    font-weight: 700;
    word-break:  break-all;
}
.gp-ui-card .text--secondary {
    display: block;
    font-size:  0.875em;
    padding:    0 1.143em 0.5715em;
    color:      @color-accent;
    font-weight: 700;
}

.gp-ui-card .text--supporting {
    font-size:  @text-sm;
    padding:    0 1.143em 0.5175em;
    color:      @color-gray-md;

    .gp-ui-card__details {
        display: none;

        &.active {
            display: block;
            color: inherit;
            background: transparent;
        }
    }

}

.gp-ui-card__footer {
    padding:    @sz-xs @sz-md;
    height:     3em;
    background: #fff;
    border-top: 1px solid @color-gray-xlt;

    .active {
        background: transparent;
        color: initial;
        border: initial;
    }

}

.gp-ui-card__tab {
    color:      @color-gray-lt;

    &:hover { color: @color-gray-md; }

    &.active {
        /* I know this is bad for screen readers,
            but it looks like garbage otherwise */
        outline:    none;
        position:   relative;
        color: @color-gray-md;

        &:after {
            bottom: 76%;
            left:   50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width:  0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(51, 153, 51, 0);
            border-bottom-color: @color-gray-lt;
            border-width: 8px;
            margin-left: -8px;
            transform: rotate(180deg);
        }
    }
}


/* Fixed Height variants */

.gp-ui-card.gp-ui-card--sm {

    .gp-ui-card__body {
        height: 2.5em;

        .text--primary {
            white-space: nowrap;
            overflow: hidden;
        }

        .text--secondary { display: none; }
        .text--supporting { display: none; }
    }

    .gp-ui-card__footer { border-top: none; }
}

.gp-ui-card.gp-ui-card--md {

    .gp-ui-card__body {
        height: 9em;
        overflow: hidden;
    }
}

.gp-ui-card.gp-ui-card--lg {

    .gp-ui-card__body { height: 12em; }

    .text--supporting {
        height:     6rem;
        overflow:   hidden;
    }

}

.gp-ui-card.gp-ui-card--xlg {

    .gp-ui-card__body {
        height: 15em;

        .text--supporting {
            height:     11em;
            max-height: 11em;
        }
    }
}



/*  ------------- strip cards ------------- *\
    these layout similar to Bootstrap media
    at tablet and higher resolutions
\*  ------------- strip cards ------------- */

@media(min-width:768px) {
    .gp-ui-card.gp-ui-card--strip .embed-responsive {
        display: table-cell;
        vertical-align: top;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive.embed-responsive-16by9 {
        padding: 1em;
    }
    .gp-ui-card.gp-ui-card--strip .embed-responsive .embed-responsive-item {
        position: relative;
        height:   auto;
        width:    10em;
    }
    .gp-ui-card.gp-ui-card--strip .gp-ui-card__body {
        display: table-cell;
        vertical-align: top;
        width: 10000px;
    }
}




//----------------------------------------
// CARD FOOTER BUTTONS WITH DROPDOWN MENUS

.gp-ui-card__footer .btn-group {

    .dropdown-menu li a { text-align: left; }

    .glyphicon-option-horizontal {
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;

        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;

        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }

    &.open .glyphicon-option-horizontal {
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }

}
//----------------------------------------










.gp-ui-card.gp-ui-card--error {

    margin-top: 1em;

    .gp-ui-card__body:first-child {
        padding-top: 0;
    }

    .gp-ui-card__body,
    .gp-ui-card__body .text--primary,
    .gp-ui-card__body .text--secondary,
    .gp-ui-card__body .text--supporting,
    .gp-ui-card__body a,
    .gp-ui-card__body a:visited {
        background-color: @color-danger;
        color: @color-white;
    }

    .gp-ui-card__body a,
    .gp-ui-card__body a:visited {
        text-decoration: underline;
    }

    .gp-ui-card__body .text--supporting {
        max-height: 6em;
        overflow:   hidden;
        line-height: 1.5em;
    }
}













/* ----------------------------------------- *\
    Old card structure
    DEPRECATED
    Use .gp-ui-card instead (see above)
\* ----------------------------------------- */
.card {

    padding:        @sz-xlg;
    margin:         @sz-xlg 0;
    background:     @color-white;
    border-radius:  @sz-xs;
    box-shadow:     0 1px 3px rgba(0,0,0,0.25);

    .card-title {
        margin-top:     0;
        margin-bottom:  1em;
        width:          100%;

        &.centered { text-align: center; }
        &.righted { text-align: right; }
    }

    .card-footer {
        padding: @sz-sm 0 0;
        a { margin-left: @sz-md; }
    }
    .card-footer-right { text-align: right; }

}










.m-card--simple {

    .m-card__thumb {
        width:  100%;
        border: 1px solid @color-gray-xlt;
        border-radius: 4px;
    }

    .m-card__label {
        display:    block;
        background: @color-blue-xlt;
        color:      #fff;
        padding:    0.25em 0.5em;
        border-radius: 0 0 4px 4px;
        text-align: center;
    }

    .m-card__content {
        display:         flex;
        justify-content: space-between;
        align-items:     stretch;

        & > * {
            flex:    1;
            padding: 0 2em;
        }
    }
}



// FROM ERRORS.LESS

.m-error {

    text-align: center;
    overflow:   hidden;

    .gp-ui-card {
        text-align: left;
        margin:     0 auto;
        width:      350px; //90%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.5);
        .t-bg--danger;
        .t-fg--white;
    }
    .media,
    .gp-ui-card__media {
        text-align: center;
        padding: 2em 0 0;
        border-bottom: 0;
        background: transparent;

        .far, .fas, .fa { font-size: 2em; }
    }
    .gp-ui-card__body {
        a, a:visited {
            .t-fg--white;
            text-decoration: underline;
        }
    }
    .gp-ui-card__footer {
        border: none;
        height: auto;
        padding: 0.5em 1em 1em;
        background: transparent;

        .btn-block { border-radius: 20px; }
    }

    .text--primary {
        margin-bottom: 1em;
        text-align: center;
        text-transform: uppercase;
    }

    .text--supporting {
        .t-fg--white;
        padding-bottom: 1em;
    }

    .m-error-message {
        line-height: 1.4;
        max-height: 7em;
        overflow: hidden;
    }

}
// @media(min-width:768px) {
//     .m-error .gp-ui-card {
//         width:      400px;
//     }
// }



// FROM FORM-GROUP.LESS


/* -------------------------------------- *\
    "Slick" Form Groups

    Ex:
        <div class="form-group form-group-slick">

            <label for="..." class="control-label">...</label>

            <div class="input-group">

                <div class="input-group-slick">
                    <span class="glyphicon glyphicon-file"></span>
                    <input id="..." type="text" class="form-control" pattern="...">
                    <span class="indicators">
                        <span class="is-valid glyphicon glyphicon-ok-sign"></span>
                        <span class="is-invalid glyphicon glyphicon-exclamation-sign"></span>
                    </span>
                </div>

            </div>

            <div><small class="help-block text-danger">...error message...</small></div>
            <div><small class="help-block">...help text...</small></div>

        </div>

    #See ng-common slick-forms.js templates
    for more advanced Angular-using examples
\* -------------------------------------- */

.form-group-slick {

    position: relative;

    .indicators {
        position:   absolute;
        top:        0.625em;
        z-index:    1901;

        &:last-child {
            right: 0.75em;
        }
    }

    .is-valid { color: @color-accent; }
    .is-invalid { color: @color-danger; }


    .form-control.ng-valid ~ .indicators {
        .is-valid, .is-invalid { display: none; }
    }

    //show OK symbol if field is not empty and valid
    .form-control.ng-not-empty.ng-valid ~ .indicators .is-valid { display: block; }


    [required].form-control.ng-invalid {
        border-color: @color-danger;
    }

    .form-control.ng-invalid ~ .indicators {
        .is-invalid { display: block; }
        .is-valid { display: none; }
    }


    .input-group-slick--lg .indicators { top: 0.875em; }

    .input__display {
        word-break: break-all;

        &:not(.is-read-only) { cursor: pointer; }
        &.is-read-only { cursor: not-allowed; }
    }


    //for aligning buttons with bottom of textareas
    // should not negatively affect other input types
    .input-group .input-group-addon,
    .input-group .input-group-btn { vertical-align: bottom; }

}




/* -------------------------------------------------------- *\

    https://material.google.com/components/text-fields.html#text-fields-labels

    <div class="form-group t-material">
        <input type="email" class="form-control" id="i5">
        <label for="i5" class="control-label u-floating">Floating Label</label>
        <span class="help-block is-revealable">This is a hint</span>
    </div>

    <div class="form-group t-material">
        <input type="email" class="form-control" id="i5">
        <label for="i5" class="control-label u-static">Static Label</label>
        <span class="help-block">This is a hint</span>
    </div>

\* -------------------------------------------------------- */

.form-group.t-material {
    position:       relative;
    font-size:      1em;
    padding-top:    0.75em;
    margin-top:     1em;
    margin-bottom:  0.5em;



    /* ---------- ICONS ------------- */

    .form-group-icon {
        position:   absolute;
        top:        1.35em;
        left:       0;
        height:     1.25em;
        width:      1.25em;
        overflow:   hidden;
    }

    &.form-group-sm .form-group-icon {
        font-size: 0.875em;
    }



    /* ---------- LABELS ------------- */

    .control-label {
        position:       absolute;
        margin-bottom:  0;
        font-weight:    500;
        color: @color-gray-dk;
    }

    .control-label.u-floating {
        top:         1.25em;
        left:        0;
        font-size:   1em;
        line-height: 1.42857143;

        pointer-events: none;
        -webkit-transition: 0.3s ease all;
             -o-transition: 0.3s ease all;
                transition: 0.3s ease all;

        will-change: left, top, contents;
    }

    &.has-icon .control-label {
        left: 1.5em;
    }
    &.is-required .control-label:after {
        content: " *";
        color: #f00;
    }

    &.form-group-sm .control-label {
        font-size: 0.875em;
    }


    .control-label.u-static,
    &.is-focused .control-label.u-floating,
    &:not(.is-empty) .control-label.u-floating {
        top:         0;
        left:        0;
        font-size:   0.75em;
        line-height: 1.07142857;
    }


    &.is-focused .control-label {
        color: @color-accent;
    }

    &:not(.is-focused) .control-label.u-static,
    &:not(.is-focused):not(.is-empty) .control-label.u-floating {
        color: @color-gray-md;
    }



    /* ---------- HELP BLOCKS ------------- */

    .help-block {
        font-size: 0.75em;
        color: lighten(@color-gray-md,10%);
    }

    &.has-error .help-block {
        color: @color-danger;
    }
    &.has-success .help-block {
        color: @color-success;
    }

    .help-block.is-revealable {
        opacity: 0;
        -webkit-transition: 0.3s ease all;
             -o-transition: 0.3s ease all;
                transition: 0.3s ease all;
    }
    &.is-focused .help-block.is-revealable {
        opacity: 1;
    }




    /* --------- INPUT GROUPS ---------- */

    .input-group-addon, .input-group-btn {
        padding: 0;
        border: 0;
        border-radius: 0;
        background-image: linear-gradient(@color-accent,@color-accent),linear-gradient(@color-gray-lt,@color-gray-lt);
        background-size: 0 2px,100% 1px;
        background-repeat: no-repeat;
        background-position: right bottom, right calc(99%);
        background-color: transparent;
        transition: background 0s ease-out;

        & > .btn {
            font-size: 0.85em;
        }
    }

    &.is-focused .input-group-addon,
    &.is-focused .input-group-btn {
        outline: 0;
        background-image: linear-gradient(@color-accent,@color-accent),linear-gradient(@color-gray-lt,@color-gray-lt);
        background-size: 100% 2px,100% 1px;
        box-shadow: none;
        transition-duration: .3s;
    }

    &.form-group-sm .input-group-addon > .btn,
    &.form-group-sm .input-group-btn > .btn {
        font-size: 0.7em;
    }





    /* ---------- CONTROLS ------------- */

    .form-control {
        padding:          0.5em 0 0;    //.25em 0 0 ???
        background-color: transparent;
        box-shadow:       none;

        border: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(@color-accent), to(@color-accent)), -webkit-gradient(linear, left top, left bottom, from(@color-gray-lt), to(@color-gray-lt));
        background-image: -webkit-linear-gradient(@color-accent, @color-accent), -webkit-linear-gradient(@color-gray-lt, @color-gray-lt);
        background-image: -o-linear-gradient(@color-accent, @color-accent), -o-linear-gradient(@color-gray-lt, @color-gray-lt);
        background-image: linear-gradient(@color-accent, @color-accent), linear-gradient(@color-gray-lt, @color-gray-lt);
        -webkit-background-size: 0 2px, 100% 1px;
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center -webkit-calc(100% - 1px);
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;

    }


    &.has-error .form-control {
        background-image: -webkit-gradient(linear, left top, left bottom, from(@color-accent), to(@color-accent)), -webkit-gradient(linear, left top, left bottom, from(@color-danger), to(@color-danger));
        background-image: -webkit-linear-gradient(@color-accent, @color-accent), -webkit-linear-gradient(@color-danger, @color-danger);
        background-image: -o-linear-gradient(@color-accent, @color-accent), -o-linear-gradient(@color-danger, @color-danger);
        background-image: linear-gradient(@color-accent, @color-accent), linear-gradient(@color-danger, @color-danger);
    }

    .form-control:focus,
    &.is-focused .form-control {

        outline: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from(@color-accent), to(@color-accent)), -webkit-gradient(linear, left top, left bottom, from(@color-gray-lt), to(@color-gray-lt));
        background-image: -webkit-linear-gradient(@color-accent, @color-accent), -webkit-linear-gradient(@color-gray-lt, @color-gray-lt);
        background-image: -o-linear-gradient(@color-accent, @color-accent), -o-linear-gradient(@color-gray-lt, @color-gray-lt);
        background-image: linear-gradient(@color-accent, @color-accent), linear-gradient(@color-gray-lt, @color-gray-lt);
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    &.has-icon .form-control {
        padding-left: 1.5em;
    }

    &.form-group-sm .form-control {
        font-size: 0.75em;
    }



    select.form-control {
        -webkit-appearance: none;
    }



    .form-control[type="checkbox"],
    .form-control[type="radio"] {
        position:   relative;
        display:    inline-block;
        width:      1em;
        height:     1.5em;
        margin:     0.5em .25em 0 0;

        &:before {
            content:  " ";
            position: absolute;
            bottom:   -.175em;
            left:     -.5em;
            width:    2em;
            height:   2em;
            background-color: rgba(51, 153, 51, 0.84);
            border-radius: 100%;
            opacity: 0;
        }
    }


    &.form-group-sm .form-control[type="checkbox"],
    &.form-group-sm .form-control[type="radio"] {
        height:     1.25em;
        margin-top: 0.75em;

        &:before {
            bottom: -.2em;
            left:   -.5em;
        }
    }



    .form-control[type="checkbox"]:focus:checked:before,
    .form-control[type="radio"]:focus:checked:before {
        -webkit-animation: rippleOn 500ms forwards;
           -o-animation: rippleOn 500ms forwards;
              animation: rippleOn 500ms forwards;
    }

    .form-control[type="checkbox"]:focus:not(:checked):before,
    .form-control[type="radio"]:focus:not(:checked):before {
        -webkit-animation: rippleOff 500ms forwards;
           -o-animation: rippleOff 500ms forwards;
              animation: rippleOff 500ms forwards;
    }


    .form-control[type="checkbox"] + .control-label,
    .form-control[type="radio"] + .control-label {
        position: relative;
        vertical-align: top;
        padding-top: 0.35em;
    }
    &.is-focused .form-control[type="checkbox"] + .control-label,
    &.is-focused .form-control[type="radio"] + .control-label {
        color: @color-gray-dk;
    }


    /* When wrapped by a "slick" input group */

    //pad the right side of form controls inside a "slick" input group
    // when there's an icon after it
    .input-group-slick .form-control:not(:last-child) {
        padding-right: 2em;
    }
    .input-group-slick>.glyphicon:last-child {
        right: 0;
        top: 1em;
    }
    // .input-group-slick > .glyphicon {
    //     top: 0.875em;   //???
    // }





    /* ---------- SWITCH ------------- */

    &.switch, &.switch * {
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
    }
    &.switch input[type=checkbox] {
        opacity:    0;
        width:      0;
        height:     0;
    }

    &.switch input[type=checkbox]:checked + .lever {
        background-color: fadeout(@color-accent, 25%);
    }
    &.switch .lever {
        position:       relative;
        width:          2.5em;
        height:         1em;
        background-color: @color-gray-md;
        border-radius:  1em;
        transition:     background .3s ease;
        vertical-align: middle;
        margin:         0 1em;
    }
    &.switch .lever,
    &.switch .lever:after {
        content: "";
        display: inline-block;
    }
    &.switch input[type=checkbox]:checked + .lever:after {
        left: 1.5em;
    }
    &.switch input[type=checkbox]:checked + .lever:after {
        background-color: @color-accent;
    }
    &.switch .lever:after {
        position:       absolute;
        left:           -5px;
        top:            -3px;
        width:          1.5em;
        height:         1.5em;
        background-color: @color-gray-xlt;
        border-radius:  100%;
        box-shadow:     0 1px 2px 1px rgba(0,0,0,.4);
        transition:     left .3s ease,background .3s ease,box-shadow .1s ease;
    }

    &.switch .off-label,
    &.switch .on-label {
        display:        inline-block;
        margin-bottom: -0.125em;
        font-weight:    500;
        vertical-align: bottom;
    }


    &.form-group-sm.switch .lever {
        font-size: 0.75em;
    }
    &.form-group-sm.switch .off-label,
    &.form-group-sm.switch .on-label {
        font-size: 0.875em;
    }

}



// FROM LISTS.LESS


.m-list__item {
    display: block;
    padding: 0.5em 0;
}
.m-list__item__text {
    display: block;
    color: @color-gray-md;
}
.m-list__item--separator {
    margin: 1em 0;
    border-bottom: 1px solid @color-gray-xxlt;
}




ul.m-list--unbulleted,
ol.m-list--unbulleted {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    & > li > ul,
    & > li > ol {
        margin-left: 0.35em;
    }

    & > li .a-icon { height: 1em; }

    & > li > a,
    & > li > span,
    & > li > div {
        display: inline-block;
        padding: 0.25em;
    }
}


ul.m-list--tree,
ul.m-list--tree ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-left: 0.35em;
        border-left: 2px solid @color-gray-lt;

        &:last-child {
            border-left: none;
        }

        &:before {
            width: 0.9em;
            height: 1em;
            margin-right: 0.1em;
            vertical-align: top;
            border-bottom: 2px solid @color-gray-lt;
            content: "";
            display: inline-block;
        }

        &:last-child:before {
            border-left: 2px solid @color-gray-lt;
        }

        & > a, & > span, & > div {
            display: inline-block;
            padding: 0.25em;
        }
    }
}

ul.m-list--tree ul {
    margin-left: 1.25em;
}



// FROM MEGAMENU.LESS

/*  -----------------------------------------
    Mega Menu
    ----------------------------------------- */


.m-megamenu__content { padding: 1em; }

.m-megamenu__heading {
    font-size:      1em;
    font-weight:    700;
    text-transform: uppercase;
}
.m-megamenu__content ul {
    list-style-type: none;
    padding: 0;
}
.m-megamenu__content ul > li { margin: 0.75em 0; }

@media(min-width:768px) {

    .m-megamenu__content {
        display:         flex;
        justify-content: space-around;
        align-items:     flex-start;
    }
}



// FROM NOTATION.LESS

.m-notation {
    padding: 0.75em 1em;
}

.m-notation--tip {
    .m-notation;
    background-color: fadeOut(@color-info, 75%);
}

.m-notation--success {
    .m-notation;
    background-color: fadeOut(@color-success, 75%);
}

.m-notation--warning {
    .m-notation;
    background-color: fadeOut(@color-warning, 75%);
}

.m-notation--danger {
    .m-notation;
    background-color: fadeOut(@color-danger, 75%);
}



// FROM OVERVIEW.LESS

.m-page-overview {
    background: #f6f6f6;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}
@media(min-width:992px) {
    .m-page-overview { padding: 1em 8em 1em 3em; }
}

.m-page-overview__toggle {
    width: 100%;
    text-align: center;
}

.m-page-overview__additional {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s linear;

    &.is-expanded {
        height: auto;
        opacity: 1;
    }
}



// FROM RESULT-ITEM.LESS
.c-results-item {

    overflow: hidden;
    margin: 0.75em;
    border: 1px solid lighten(@color-gray-xlt, 2%);
    border-radius: 4px;
    background: #fff;
    clear: both;

    &:hover {
        box-shadow: 0 0 6px rgba(0,0,0,0.5);
    }


    .c-results-item__body {
        // flex: 1;
    }

    .c-results-item__icon img { width: 100%; }

    .c-results-item__heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 700;
        margin-bottom: 0.25em;
        padding: 1em 1em 0;
    }

    .text--supporting {
        & > * {
            font-size: @text-sm;
            line-height: 1.25rem;
            color: @color-gray-md;
        }
        padding: 0 1em;
    }
    .c-results-item__description {
        line-height: 1.5em;
        max-height: 3em;    // show 2 lines given line height of 1.5em
        overflow: hidden;
        margin: 0.5em 0 1em;
        color: @color-gray-md;
        font-size: @text-sm;
        padding: 0 1em;
        position: relative;

        &.is-too-large::after {
            content: "...";
            color: @color-gray-md;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 1em;
            background: #fff;
            padding: 0 0.25em;
        }

    }
    .c-results-item__facets {
        align-items: center;
        font-size: @text-sm;
        padding: 0 1em 0.25em;

        &.is-url { color: #999; }
    }
    .c-results-item__facet {
        margin-right: 2em;
    }


    .c-results-item__footer {
        display:flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        font-size: @text-sm;
        border-top: 1px solid lighten(@color-gray-xlt, 7%);
        color: lighten(@color-gray-md, 15%);

        .btn, .faux-btn, .btn:hover, .faux-btn:hover {
            border-radius: 0;
        }
        //prevent wrap on btn-groups (delete)
        .btn-group { display: flex; }

        .c-results-item__stats,
        .c-results-item__actions {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            flex: 100%;

            .btn.btn-default, .btn.btn-link {
                border-color: lighten(@color-gray-xlt, 7%);
                border-top-width: 0;
                border-bottom-width: 0;
                border-left-width: 0;
            }
        }

        .c-results-item__stats > *:not(.btn) {
            border-right: 1px solid lighten(@color-gray-xlt, 7%);
            padding: 0.33em .5em;
        }

        .c-results-item__actions {
            border-top: 1px solid lighten(@color-gray-xlt, 7%);
        }

    }

}

@media(min-width: 768px) {

    .c-results-item {

        .c-results-item__body {
            display:flex;
            flex-wrap: wrap;
            padding: 1em;
        }

        .c-results-item__icon {
            flex: 0 1 225px;
            margin-right: 1em;
            max-width: 225px;
            overflow: hidden;
            max-height: 126px;
            box-shadow: 0 0 2px 0px rgba(0,0,0,0.75);
        }

        .c-results-item__heading { padding-top: 0; }

        .c-results-item__heading,
        .c-results-item__description,
        .c-results-item__facets { padding-left: 0; }


        .c-results-item__footer {
            flex-wrap: nowrap;

            .c-results-item__stats {
                flex:            1;
                justify-content: flex-start;
                align-items:     stretch;
            }
            .c-results-item__actions {
                flex: 0 1 auto;
                justify-content: flex-end;
                border-top: none;
            }
        }

    }

}


@media (min-width: 1500px) {
    .c-results-item .c-results-item__footer .c-results-item__actions {
        align-items: center;
    }
}



// FROM TILES.LESS

.m-tile {
    position:      relative;
    overflow:      hidden; //keep descriptive text from overflowing outside tile
    border-radius: 4px;
    display:       inline-block;
}

.m-tile__thumbnail {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        padding-top: 100%;
    }

    & > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.m-tile__body {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    color: #fff;
    padding: 40% 1em 0;
    text-align: center;
}

.m-tile__heading {
    font-weight:    700;
    font-size:      1.5em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.m-tile-desc {
    font-size:  1em;
    max-height: 100px;
    overflow:   hidden;
}



.m-tile.m-tile--4x3 {
    .m-tile__thumbnail::before { padding-top: 75%; }
    .m-tile__body { padding-top: 30%; }
}
.m-tile.m-tile--16x9 {
    .m-tile__thumbnail::before { padding-top: 56.25%; }
    .m-tile__body { padding-top: 25%; }
}



// FROM WARNINGS.LESS

.m-page-warning-display {
    //color:            #856404;
    background-color: #fff3cd;
    padding:          1em;
}
@media(min-width:768px) {
    .m-page-warning-display { padding: 1em 5em; }
}
@media(min-width:1200px) {
    .m-page-warning-display { padding: 1em 8em; }
}
